In [10]:
# In-Place Swapping Of Two Numbers
x, y = 10, 20
x, y = y, x
print(x, y)

# Reversing a string in Python
print("Reverse is", "GeeksForGeeks"[::-1])

# Ternary Operator
x = 10 if (y == 9) else 20
# x = (classA if y == 1 else classB)(param1, param2)
# [m**2 if m > 10 else m**4 for m in range(50)]

a = ["Geeks", "For", "Geeks"]
print(" ".join(a))

multiStr = "select * from multi_row \
where row_id < 5"

multiStr = """select * from multi_row 
where row_id < 5"""

multiStr= ("select * from multi_row "
"where row_id < 5 "
"order by age")

20 10
Reverse is skeeGroFskeeG

In [23]:
print("Hello, And Welcome To My World!".casefold())
print("Hello my FRIENDS".lower())
print("Hello my friends".upper())
print("hello, and welcome to my world.".capitalize())
print("I love apples, apple are my favorite fruit".count("apple"))

print("Hello, welcome to my world.".endswith("."))
print("Hello, welcome to my world.".startswith("Hello"))

# finds the first occurrence of the specified value. returns -1 if the value is not found.
print("Hello, welcome to my world.".find("welcome", 5))

print("I could eat bananas all day".partition("bananas"))
print("I like bananas".replace("bananas", "apples"))

# string.split(separator, maxsplit)
print("apple#banana#cherry#orange".split("#", 3))
print("     banana     ".strip())
print(",,,,,rrttgg.....banana....rrr".strip(",.grt"))

print("Hello My Name Is PETER".swapcase())

hello, and welcome to my world!
hello my friends
HELLO MY FRIENDS
Hello, and welcome to my world.
2
True
True
7
('I could eat ', 'bananas', ' all day')
I like apples
['apple', 'banana', 'cherry', 'orange']
banana
banana
hELLO mY nAME iS peter

In [29]:
# Find The Most Frequent Value In A List.
test = [1, 2, 3, 4, 2, 2, 3, 1, 4, 4, 4]
max(set(test), key = test.count)

fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")
print(fruits)

a = ["apple", "banana", "cherry"]
b = ["Ford", "BMW", "Volvo"]
a.append(b)
print(a)

print(fruits.count("cherry"))
fruits.clear()
print(fruits)

fruits = ["apple", "banana", "cherry"]
x = fruits.copy()
x.append('hello')
print(x)
print(fruits)

fruits = ['apple', 'banana', 'cherry']
cars = ['Ford', 'BMW', 'Volvo']
fruits.extend(cars)
print(fruits)

print(fruits.index('BMW'))

['apple', 'banana', 'cherry', 'orange']
['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]
1
[]
['apple', 'banana', 'cherry', 'hello']
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']
4

In [12]:
class Shapes:
    Circle, Square, Triangle, Quadrangle = range(4)

print(Shapes.Circle)
print(Shapes.Square)
print(Shapes.Triangle)
print(Shapes.Quadrangle)

0
1
2
3

In [5]:
def sum_of_elements(*arg):
    total = 0
    for i in arg:
        total += i

    return total

result = sum_of_elements(*[1, 2, 3, 4])
print(result)

10

In [6]:
my_list = [1, 2, 3, 4]

odd = filter(lambda x: x % 2 == 1, my_list)
squared = map(lambda x: x ** 2, my_list)
my_set = frozenset(['a', 'b', 'c', 'd'])

In [13]:
f_dictionary = {'name': 'Fatos', 'location': 'Munich'}
s_dictionary = {'name': 'Fatos', 'surname': 'Morina', 'location': 'Bavaria, Munich'}
result = f_dictionary | s_dictionary
merged = {**f_dictionary, **s_dictionary}
print(result)

{'name': 'Fatos', 'surname': 'Morina', 'location': 'Munich'}

In [14]:
books = ('Atomic habits', 'Ego is the enemy', 'Outliers', 'Mastery')
print(books.index('Mastery'))

3

In [15]:
import ast

def string_to_list(string):
    return ast.literal_eval(string)

string = "[[1, 2, 3],[4, 5, 6]]"
my_list = string_to_list(string)
print(my_list)

[[1, 2, 3], [4, 5, 6]]

In [ ]:
print("29", "01", "2022", sep="/")
print("29", "01", "2022", end="---")

In [16]:
def check_if_anagram(first_word, second_word):
    first_word = first_word.lower()
    second_word = second_word.lower()
    return sorted(first_word) == sorted(second_word)

print(check_if_anagram("testinG", "Testing"))
print(check_if_anagram("Here", "Rehe"))
print(check_if_anagram("Know", "Now"))

True
True
False

In [1]:
class Engineer:
    def __init__(self, name):
        self.name = name
        self.__starting_salary = 62000


dain = Engineer('Dain')
print(dain._Engineer__starting_salary)

62000

In [2]:
# Calling the parent’s class initializer using super():
class Parent:
    def __init__(self, city, address):
        self.city = city
        self.address = address

class Child(Parent):
    def __init__(self, city, address, university):
        super().__init__(city, address)
        self.university = university

child = Child('Zürich', 'Rämistrasse 101', 'ETH Zürich')
print(child.university)

ETH Zürich

In [3]:
# Calling the parent’s class using the parent class’s name:
class Parent:
    def __init__(self, city, address):
        self.city = city
        self.address = address

class Child(Parent):
    def __init__(self, city, address, university):
        Parent.__init__(self, city, address)
        self.university = university

child = Child('Zürich', 'Rämistrasse 101', 'ETH Zürich')
print(child.university)

ETH Zürich

In [4]:
a = {}
b = {1:1}

print(bool(a))
print(bool(b))

c = []
d = [1]

print(bool(c))
print(bool(d))

False
True
False
True