### Prime number : a number that is divisible only by itself and 1 (e.g. 2, 3, 5, 7, 11).

In [2]:
# Python program to display all the prime numbers within an interval

# change the values of lower and upper for a different result
lower = 900
upper = 1000

#lower = int(input("Enter lower range: "))
#upper = int(input("Enter upper range: "))

print("Prime numbers between",lower,"and",upper,"are:")

for num in range(lower,upper + 1):
   if num > 1:
       for i in range(2,num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 900 and 1000 are:
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [7]:
# Write a Python program to print Prime Numbers between 100 and 200
for num in range(100, 200):
    if all(num%i != 0 for i in range(2, num)):
        print(num)

101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199

In [3]:
num = int(input("Enter a number: "))
if (num % 2) == 0:
   print("{0} is Even".format(num))
else:
   print("{0} is Odd".format(num))

Enter a number: 5
5 is Odd

In [4]:
num = float(input("Enter a number: "))

if num > 0:
   print("Positive number")
elif num == 0:
   print("Zero")
else:
   print("Negative number")

Enter a number: 90
Positive number

### The *factorial* of 6 (denoted as 6!) is 1*2*3*4*5*6 = 720. Factorial is not defined for negative numbers and the factorial of zero is one, 0! = 1.

In [5]:
# Python program to find the factorial of a number provided by the user.

# change the value for a different result
num = 7

# uncomment to take input from the user
#num = int(input("Enter a number: "))

factorial = 1

# check if the number is negative, positive or zero
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

The factorial of 7 is 5040

### A leap year is exactly divisible by 4 except for century years (years ending with 00). The century year is a leap year only if it is perfectly divisible by 400. For example,
```2017 is not a leap year
1900 is a not leap year
2012 is a leap year
2000 is a leap year```

In [6]:
year = 2000

# To get year (integer input) from the user
# year = int(input("Enter a year: "))

if (year % 4) == 0:
   if (year % 100) == 0:
       if (year % 400) == 0:
           print("{0} is a leap year".format(year))
       else:
           print("{0} is not a leap year".format(year))
   else:
       print("{0} is a leap year".format(year))
else:
   print("{0} is not a leap year".format(year))

2000 is a leap year

In [10]:
# Write a Sort function to sort the elements in a list without sort function(descending order)
data_list = [23, 5, 55, 1, 45, 11, 9, 61, 2]
new_list = []

while data_list:
    minimum = data_list[0]
    for x in data_list:
        if x > minimum:
            minimum = x
    new_list.append(minimum)
    data_list.remove(minimum)

print(new_list)

[61, 55, 45, 23, 11, 9, 5, 2, 1]

In [11]:
# Write a python program to print Fibonacci Series
def F(n):
    if n == 0: return 0
    elif n == 1: return 1
    else: return F(n-1) + F(n-2)

for i in range(0, 12):
    print(F(i))

0
1
1
2
3
5
8
13
21
34
55
89

In [15]:
# Write a Python program to check whether a string is a Palindrome or not
def isPolindrome(s):
    rev = ''.join(reversed(s))

    if (s == rev):
        return True
    return False

isPolindrome('ana')

True

In [17]:
# Write a Python program to print set of dublicates in a list
l = [1,2,3,4,1,6,5,2,5]
set([x for x in l if l.count(x) > 1])

{1, 2, 5}

In [18]:
# Binary Search
def search(list, n):
    l = 0
    u = len(list) - 1

    while l <= u:
        mid = (l+u) // 2

        if list[mid] == n:
            pos = mid
            return True
        else:
            if list[mid] < n:
                l = mid
            else:
                u = mid

In [20]:
# Bubble Sort
def sort(elements):
    size = len(elements)

    for i in range(size - 1):
        swapped = False
        for j in range(size - 1 - i):
            if elements[j] > elements[j+1]:
                tmp = elements[j]
                elements[j] = elements[j+1]
                elements[j+1] = tmp
                swapped = True
        if not swapped:
            break

In [21]:
# Checking if two words are anagrams
from collections import Counter

def is_anagram(str1, str2): 
    return Counter(str1) == Counter(str2) 

print(is_anagram('geek', 'eegk'))
print(is_anagram('geek', 'peek'))

True
False

## Max Function

In [1]:
def large(arr):
    #root element varible 
    max_ = arr[0]
    for ele in arr:
        if(ele > max_):
           max_ = ele
    return max_ 

list1 = [1,4,5,2,6]
result = large(list1)
print(result)

6

In [2]:
from functools import reduce

list1 = [-1, 3, 7, 99, 0]
print(reduce(lambda x, y: x if x > y else y,list1))

99

In [3]:
from functools import reduce

list1 = [-1, 3, 7, 99, 0]
print(reduce(lambda x, y: x if x > y else y,list1))

99

In [4]:
import heapq

list1 = [-1, 3, 7, 99, 0]
print(heapq.nlargest(1, list1))

[99]

In [5]:
list1 = [10, 20, 4, 45, 99]
list1.sort()
print("Largest element is:", list1[-1])

Largest element is: 99

In [6]:
# Find Longest String from List

list1 = ['apple', 'banana', 'watermelon', 'orange'] 

max_len = -1
for ele in list1: 
    if(len(ele) > max_len): 
        max_len = len(ele) 
        res = ele 
        
print("Longest String is : ", res)

Longest String is :  watermelon

In [7]:
list1 = ['apple', 'banana', 'watermelon', 'orange'] 
res = max(list1, key=len) 
print("Longest String is  : ", res)

Longest String is  :  watermelon

### fibonacci number
The Fibonacci numbers are the numbers in the following integer sequence.
0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, ……..

In [8]:
# Function for nth fibonacci number - Space Optimisataion 
# Taking 1st two fibonacci numbers as 0 and 1 

def fibonacci(n): 
    a = 0
    b = 1
    if n < 0: 
        print("Incorrect input") 
    elif n == 0: 
        return a 
    elif n == 1: 
        return b 
    else: 
        for i in range(2,n): 
            c = a + b
            a = b
            b = c
        return b 

print(fibonacci(9))

21

In [ ]:
a=int(input("Enter the first number of the series "))
b=int(input("Enter the second number of the series "))
n=int(input("Enter the number of terms needed "))
print(a,b,end=" ")
while(n-2):
    c=a+b
    a=b
    b=c
    print(c,end=" ")
    n=n-1

In [1]:
import functools

@functools.lru_cache(maxsize=128)
def fibonacci(n):
  if n == 0:
    return 0
  elif n == 1:
    return 1
  return fibonacci(n - 1) + fibonacci(n-2)

### palindrome

In [2]:
def isPalindrome(str):
    for i in range(0, int(len(str)/2)):  
        if str[i] != str[len(str)-i-1]: 
            return False
    return True
  
# main function 
s = "malayalam"
ans = isPalindrome(s) 
  
if (ans): 
    print("Yes") 
else: 
    print("No")

Yes

In [ ]:
## reverse string
def reverse(s): 
  str = "" 
  for i in s:
    str = i + str
  return str

## *Using recursion*
def reverse(s):
    if len(s) == 0:
        return s
    else:
        return reverse(s[1:]) + s[0]